<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= product.name %></title>
</head>
<body>
    <h1><%= product.name %></h1>
    <li>
        <%= product.name %> - $ <%= product.price %> (<%= product.category %>)
    </li>
    <a href="/farmStand/products">All products</a>
</body>
</html>