<!-- this can help us to let some of common page be partials -->
<%- include('partials/head') %>
    <%- include('partials/navbar') %>
    <header>
        <h1>Browsing /r/<%= name %></h1>
        <p><%= description %> (<strong><%= subscribers %></strong> fans)</p>
    </header>

    <main>
        <% posts.forEach(post => { %>
            <article class="post-item">
                <header>
                    <h3><%= post.title %></h3>
                    <small>By u/<%= post.author %></small>
                </header>

                <% if (post.img) { %>
                    <figure>
                        <img src="<%= post.img %>" alt="Thumbnail for <%= post.title %>" loading="lazy">
                    </figure>
                <% } %>
            </article>
        <% }) %>
    </main>
<%- include('partials/footer') %>